<div *ngIf="isShowForm">
	<input [(ngModel)]="newEng" placeholder="English"><br/><br/>
	<input [(ngModel)]="newVn" placeholder="Vietnamese">
	<br/><br/>
	<button (click) = "addWord();" >Add new word</button>
</div>

<!-- To toggle add new word button -->
<button (click) = "isShowForm = true" *ngIf="!isShowForm" >Add new word</button>
<br/><br/>

<!-- Option -->
<select [(ngModel)] = "filterStatus">
  <option value="ViewAll">View all</option>
  <option value="ViewGreen">View green</option>
  <option value="ViewRed">View red</option>
</select>

<div *ngFor = "let word of arrWords" >
	<div *ngIf="getShowStatus(word.got)" class="myWord">
		<h4 [ngStyle] = "{ color: word.got ? 'green' : 'red' }">
			{{ word.en }}
		</h4>
		<p>{{ word.vn }}</p><br />
		<button (click)="deleteWord(word.id)">Delete</button>
		<button (click)="word.got = !word.got">
      {{ word.got ? 'Not remembered' : 'Remembered'}}</button>
	</div>
</div>
