<!-- using input -->
<app-favorite
  [isLock]="post.isLock"
  (change)="onLockChange()"></app-favorite>
<!-- <app-favorite></app-favorite> -->

<!-- <app-courses></app-courses> -->

<!-- <app-user></app-user> -->


<!-- <a routerLink="/contact">Contact</a>&nbsp;
<a routerLink="/detail">Details</a>
<router-outlet></router-outlet> -->

<!-- <app-parent></app-parent> -->
<!-- <app-list-person></app-list-person> -->
<!-- <app-person name="John Wick" age="22"></app-person> -->
<!-- <app-words></app-words> -->
<!-- <app-struct></app-struct><br /><br />
<app-form></app-form><br /><br />
<app-test></app-test><br /><br /> -->
